.wrapper {
  padding-top: 50px;
  padding-left: 350px;
  padding-right: 350px;
  background: rgb(35, 37, 122);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
